@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* table css here */
.ticket_table thead tr th {
  padding: 20px 10px;
  background-color: rgb(244, 244, 244);
  position: relative;
  border-bottom: 1px solid rgb(209 213 219);
  font-size: 15px;
}

.ticket_table thead tr th::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  background-color: rgb(220, 220, 220);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ticket_table thead tr th:last-child::before {
  width: 0;
  height: 0;
  background-color: none;
}

.ticket_table tbody tr td {
  padding: 15px 10px;
  border-bottom: 1px solid rgb(209 213 219);
}

@media screen and (min-width: 1024px) {
  .ticket_table thead tr th {
    padding: 20px 30px;
  }
  .ticket_table tbody tr td {
    padding: 15px 30px;
  }
}

.notifications {
  padding: 6px 20px;
  font-size: 17px !important;
}